*{
    padding:0;
    margin:0;
}
.Page{
    width: 1000px;
    margin:0 auto;
}
#headImg>input{

}
#search {
    float:right;
    position:relative;
    right:300px;
    top:15px;
}
ul{ list-style: none;}
.headNav>li{float: left;}
.headNav a{
    display: inline-block;
    text-decoration: none;
    min-width: 85px;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: white;
    border-radius:10px;

}
.drop-down-content{
    position:absolute;
    display: none;
}
.drop-down-content li:hover a{
    background-color:blue;
}
.drop-down:hover .drop-down-content{
    display: block;
    z-index:10;
}
.solid{
    border-style:solid;
    border-color:white;
    border-width:1px;
    background-color: blue;
    size:1px;
}
l:hover{
    color:blue;
}
#demo{
    text-align:center
}
#demo1{
    text-align:center
}
#ms-footer{
    background: #f2f2f2;
    margin-top: 48px;
}
#ms-footer-menu1 >ul{
    display:block;
    float:left;
    margin: 8px 0;
    width:16.6%;
}
#ms-footer-menu1 >ul li{
    padding: 8px 0;
}
#ms-footer-menu1 >ul li a, #ms-footer-menu1 >ul li:first-child{
    color: #616161;
    word-break: break-word;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
}
#ms-footer-menu1 >ul li a:hover{
    text-decoration: underline;
}
#ms-footer-menu1 >ul li:first-child{
    font-size: 15px;
    line-height: 20px;
    padding: 36px 0 4px;
    font-weight: 600;
}
#ms-footer-menu1{
    position: relative;
    overflow:auto;
    float:left;
    width:100%;
}
#ms-copyright:before,#ms-copyright:after{
    content: " ";
    display: table;
    clear: both;
}
#ms-copyright a{
    color: #616161;
    white-space: nowrap;
    text-decoration: none;
}
#ms-copyright a:hover{
    text-decoration: underline;
}
#ms-copyright >a:before{
    font-family: "MWF-MDL2";
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    content:"\e909";
}
#ms-copyright li{
    float:left;
    font-size: 11px;
    line-height: 16px;
    display: block;
    color: #616161;
    padding: 0 24px 4px 0;
}
#ms-copyright nav{
    float:right;
}
#ms-copyright{
    padding-bottom: 16px;
}
#ms-header-right{
    float:right;
    display: flex;
    height: 54px;
    width:0%;

}
#ms-header-right div nav{
    margin-right: 15px;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 1px;
}
#ms-button{
    padding-right: 20px;
    margin-right: 0px;
    border: 0;
    background: transparent;
    text-align: left;
    position: relative;
    top:5px;

}
#ms-button:after{
    font-family: "MWF-MDL2";
    content: "\e70d";
    position: absolute;
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-top: 7px;
    right: 5px;
}
#ms-button-menu1{
    display:none;
    background: #f2f2f2;
    width: 1230px;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 15px 0;
    position: absolute;
    margin-left: -789.333px;
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) #000;
    margin-top: 22px;
    flex-flow: row wrap;
    z-index: 1;
}
#ms-button:focus{
    background: #f2f2f2;
}
#ms-button:active + #ms-button-menu1,#ms-button:focus + #ms-button-menu1{
    display:block;

}
#ms-nav li a:before{
    bottom: 9px;
    width: calc(100% - 16px);
    content: "";
    height: 2px;
    position: absolute;
    display: none;
    background: currentColor;
    margin:auto;
    padding-left:8px;
}
#ms-button :before{
    bottom: 0px;
    width: calc(100% - 16px);
    content: "";
    height: 2px;
    position: absolute;
    display: none;
    background: currentColor;
    margin:auto;
    padding-left:8px;
}
#ms-nav li a:active:before,#ms-nav li a:hover:before,#ms-nav li a:focus:before ,#ms-button:focus :before,#ms-button:hover :before{
    display:inline-block;
}

#ms-menu1-li1{
    display:none;
}
.ms-menu1-li{
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
}
.ms-menu1-li button{
    background: transparent !important;
    width: 195px;
    font-weight: 600;
    border: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 30px;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}
button, select {
    text-transform: none;
}
.ms-menu1-li ul{
    margin-top: -1px;
    border: 0 !important;
    position: relative !important;
    left: auto !important;
    right: auto;
    background: transparent !important;
    width: 195px;
}
.ms-menu1-li ul li{
    font-size: 13px !important;
}
.ms-menu1-li ul a{
    color: #262626;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    background: transparent !important;
    width: 195px;
    padding-left: 24px;
    display: block;
    white-space: normal;
    list-style: none;
    text-decoration:none;
}
.ms-menu1-li ul a:hover,.ms-menu1-li ul a:focus, #ms-menu1-li2 a:hover,#ms-menu1-li2 a:focus{
    text-decoration: underline;
}
#ms-menu1-li2{
    background-color: #e6e6e6;
    margin: 0;
    padding: 1px;
    width: 100%;
    display: inline-block;
    float: left;
}
#ms-menu1-li2:before,#ms-menu1-li2:after{
    content: " ";
    display: table;
}
#ms-menu1-li2 a{
    color: rgba(0,0,0,0.8);
    font-weight: 400;
    line-height: 3px;
    margin: 0 auto;
    max-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    background: transparent !important;
    position: relative;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    white-space: normal;
}
#ms-menu1-li2 a:after{
    font-family: "MWF-MDL2";
    content: "\e76c" !important;
    vertical-align: top;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.ms-menu1-bt:after{
    font-family: "MWF-MDL2";
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}
#cheche:after{
    content: "\e7bf";
}
#register{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' stroke-width='1.9' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25'/%3E%3Cg transform='matrix(1.1 0 0 1.1 8.8 5.61)'%3E%3Ccircle class='mectrl_stroke' cx='20' cy='16' r='7'/%3E%3Cpath class='mectrl_stroke' d='M30 35h10m-5-5v10M30.833 32.09A11 11 0 009 34'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 18px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
    padding-bottom:9px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float:right;
}
.ms-menu1-bt{
    border: none;
    padding-top: 28px;
    position: relative;
    background: transparent;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right:14px;
    width: auto;
    top:-10px;
}