p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#ms-header a{
    padding-top: 0px;
    display: inline-block;
}
#ms-nav li a ,#ms-button{
    color: #262626;
    display: inline-block;
    margin-top: 1px;
    padding: 10px 27px 10px;
    height: 48px;
    font-size: 15px;
    font-weight: lighter;
    border:0px;
}
#ms-nav li{
    transition: margin 0.667s cubic-bezier(0.16, 1, 0.29, 0.99) 0s;
}
#ms-nav >ul{
    margin: 0;
}
#ms-header > a {
    padding-top: 16px;
}
#ms-nav li a:before,#ms-button:before {
    bottom: 12px;
    width: calc(100% - 54px);
}
#ms-button:after {
    top: 18px;
}
#ms-button:before{
    background: currentColor;
    content: "";
    display:none;
    height: 2px;
    position: absolute;
}
#ms-button:hover:before{
    display:block;
    cursor: pointer;
}
#ms-button-menu1{
    margin-top: -2px;
    margin-left: -689.333px;
}
#ms-nav li div a:hover:before{
    display:none;
}
#ms-menu1-li2{
    text-align: center;
}
#ms-button-menu1 a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#search{
    position: absolute;
    margin-left: 15%;
}
#su-sh-bar{
    display: inline-block;
    background: rgba(255,255,255,.2);
    border-color: rgba(0,0,0,.4);
    height: 36px;
    max-width: 100%;
    width: 264px;
    padding: 7px 10px;
    padding-right: 38px;
    border: 1px solid rgba(0,0,0,.6);
    outline: 0;
    margin-top: 8px;
}
#su-header-bar{
    background: #0067b8;
    height: 50px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
#su-header-bar a{
    color: #fff;
    text-decoration: none;
}
#su-hbar-1{
    height: 48px;
    margin: 1px;
    padding: 7px 17px;
    position: relative;
    display: inline-block;
    float: left;
}
#su-hbar-1 span{
    font-size: 24px;
    line-height: 28px;
    display: block;
    font-weight: 200;
}
#su-hbar-nav{
    overflow: visible;
    height: 100%;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 1px;
    display: block;
    position:relative;
}
#su-hbar-nav div{
    display: inline-block;
    transition: margin 0.667s cubic-bezier(0.16, 1, 0.29, 0.99) 0s;
    white-space: nowrap;
    font-size: 15px;
    font-weight: lighter;
}
#su-hbar-nav div >a{
    position: relative;
    padding: 0 38px 0 25px;
    line-height: 46px;
    margin: 1px 0;
    outline-color: transparent !important;
    outline-style: none !important;
    border: 1px solid transparent;

}
#su-hbar-nav div ul{
    border-color: rgba(0,0,0,.05);
    border-top-width: 0;
    margin-top: -1px;
    background: #005da6;
    display: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    width: 296px;
    top: 100%;
    z-index: 700;
    min-width: 64px;
    max-width: 368px;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;   
}
#su-hbar-nav div ul li{
    margin-top: 1px;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
#su-hbar-nav li a{
    position: relative;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
}
#su-hbar-nav a:hover +ul,#su-hbar-nav a:focus +ul{
    display:block;
}
#su-hbar-nav a:hover,#su-hbar-1:hover{
    text-decoration: underline;
}
#su-hbar-nav div:hover,#su-hbar-nav li:hover,#su-hbar-1:hover{
    background: #005da6;
}
.su-a-af-j span:after{
    font-family: "MWF-MDL2";
    content: "\e70d";
    position: absolute;
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-top: 1px;
    right: 20px;
}
#su-search-p{
    background-image: url("../img/smc-hero.jpg");
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 62.5%;
    display: block;
    font-weight: lighter;
}
#su-search-p >div{
    max-width: 1440px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}
#su-search-p h1{
    color: #fff;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 37.3333px;
    margin-bottom: 32px;
    font-weight: lighter;
}
#su-search-p form{
    box-sizing: border-box;
    margin: auto;
    position: relative;
    max-width: 748px;

}
#su-search-p form div{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-size: 62.5%;

}
#su-search-p form input{
    width: 100%;
    height: 51px;
    font-size: 20px;
    padding: 0 50px 0 18px;
    border: 1px solid #a9a9a9;
    outline: 0;
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
    box-sizing: border-box;
}
#su-search-p form button{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 50px;
    cursor: pointer;
    border: none;
    background: transparent;
}
#su-search-p form span:before{
    font-family: "MWF-MDL2";
    content: "\e339";
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    color: #636363;
}
#su-class-p *{
    box-sizing: border-box;
}
#su-class-p{
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
}
#su-class-p >div{
    margin: 20px auto 20px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
#su-class-p >div >div{
    height: initial;
    overflow: hidden;
    width: 24%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 14px;
}
.su-class-p{
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}
.su-class-p:link, .su-class-p:visited, .su-class-p:active, .su-class-p:hover {
    color: #363636;
}
.su-class-p div:nth-child(1){
    box-sizing: border-box;
}
.su-class-p div:nth-child(2){
    padding-top: 10px;
    line-height: 12px!important;
    box-sizing: border-box;
}
.su-class-p img{
    height: 52px;
    width: 52px;
    border: none;
    box-sizing: border-box;
}
.su-class-p span{
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
}
.su-class-p:hover{
    -webkit-box-shadow:0 3px 5px 3px rgba(0,0,0,.1);
    -moz-box-shadow:0 3px 5px 3px rgba(0,0,0,.1);
    box-shadow:0 3px 5px 3px rgba(0,0,0,.1);
}
#su-class-more{
    color: #0072c6;
    margin: 0;
    padding-top: 18px;
    text-align: left;
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-weight: 400;
    padding-left: 0;
    text-decoration: none;
}
#su-class-more:hover{
    text-decoration: underline;
}
#su-class-more:after{
    content: '\e0ae';
    font-family: "MWF-MDL2";
    vertical-align: bottom;
    margin-left: 10px;
    display: inline-block;
}
#su-longques-div{
    box-sizing: border-box;
}
#su-ques-div{
    width: 90%;
    overflow: hidden;
    padding: 0 10px;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}
#su-ques-div h2{
    color: #1e1e1e;
    text-align: center;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
}
#su-ques-div >div *{
    box-sizing: border-box;
}
#su-ques-div >div{
    margin-bottom: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    box-sizing: border-box;
}
#su-ques-div div div{
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: normal;
    width: calc((100% - 6*15px)/4 + 15px - .1px);
    padding-left: 0;
    float: left;
    position: relative;
    min-height: 1px;
}
#su-ques-div p{
    font-size: 15px;
    line-height: 20px;
    margin-top: 0;
    padding-top: 0;
    color: #1e1e1e;
}
strong, b{
    font-weight: 600;
}
#su-ques-div a{
    color: #0072c6;
    text-decoration: none;
}
#su-ques-div a:hover{
    text-decoration: underline;
}
#su-video-section{
    background-color: #f9f9f9;
}
#su-video-section >div{
    width: 90%;
    overflow: hidden;
    padding: 0 10px;
    margin: 0 auto;
    display: block;
    position: relative;
    box-sizing: border-box;
}
#su-video-section >div>div{
    padding-right: 2%;
    width: calc((50%) - 3px);
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    position: relative;
}
#su-video-section video{
    cursor: pointer;
    display: block;
    min-width: 100%;
    width: 100%;
    max-height: 100%;
    height: auto;
    background: #000;
    vertical-align: middle;
    direction: ltr;

}
#su-video-but{
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: #FFF;
    box-sizing: inherit;
    position: absolute;
    top: 0;
}
#su-video-but button{
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    line-height: 13px;
    height: 48px;
    width: 48px;
    color: #FFF;
    outline: none;
    top: calc(50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    border: 2px solid transparent;
}
#su-video-but button:before{
    margin-left: 10px;
    margin-right: 10px;
    content: "\e768";
    font-family: "MWF-MDL2";
    display: inline-block;
    box-sizing: inherit;
}
h2{
    font-family: 'Segoe UI Light','Segoe WP Light','wf_segoe-ui_light','wf_segoe-ui_normal','Segoe UI','Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
    font-size: 34px;
    line-height: 46px;
    color: #1e1e1e;
}
#su-video-section h2{
    padding-left: 5%;
    padding-top: 20px;
    text-align: left;
    font-weight: 300;
}
#su-video-section p, #su-video-section a{
    padding: 0;
    padding-left: 5%;
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e;

}
#su-video-section a{
    color: #0072c6;
    text-decoration: none;
}
#su-video-section a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#su-more-study *{
    box-sizing: border-box;
}
#su-more-study{
    box-sizing: border-box;
    width: 90%;
    overflow: hidden;
    padding: 0 10px;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}
#su-more-study h2{
    text-align: center;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 20px;
}
.ms-study{
    width:49%;
    position: relative;
    display: inline-block;
    margin-bottom: calc(1em + .5vh);
    margin-top: calc(1em + .5vh);
}
.ms-study img{
    width: calc((100% - 6*15px)/2 + 15px - .1px);
    padding-left: 0;
    position: relative;
    min-height: 1px;
    height: auto;
    border: none;
    display: inline-block;
    vertical-align: top;
}
.ms-study div{
    width: calc((100% - 6*15px)/2 + 15px - .1px + 15px);
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: calc(1em + .5vh);
    display: inline-block;
    vertical-align: top;
}
.ms-study div *{
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e;
}
.ms-study b{
    font-weight: 600;
}
.ms-study p{
    padding: 0;
}
.ms-study a{
    color: #0072c6;
    text-decoration: none;
}
#su-trlat{
    background: #f3f3f3;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 3.5%;
    padding-top: 6px;
    padding-right: 8%;
    padding-bottom: 6px;
}
#su-trlat p,#su-trlat *{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
}
#su-trlat b{
    line-height: 1.5;
    font-size: 1em;
    margin: 20px 0 5px 0;
    font-weight: 700;
}
#su-trlat a,#su-more-su a{
    color: #0072c6;
    text-decoration: none;
}
.ms-study a:hover, #su-trlat a:hover,#su-more-su a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#su-more-su{
    background-color: #f9f9f9;
}
#su-more-su,#su-more-su *{
    box-sizing: border-box;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
}
#su-more-su >div{
    width: 90%;
    overflow: hidden;
    padding: 0 10px;
    margin:0 auto;
}
#su-more-su h2{
    color: #1e1e1e;
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    margin-top: 48px;
    margin-bottom: 20px;
}
#su-more-su >div >div{
    width: calc((100% - 4*15px)/3 + 15px - .1px);
    display:inline-block;
    margin-block-end: 1em;
}
#su-more-su a{
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}
#su-more-su >div >div:last-child{
    margin-left: calc((100% - 4*15px)/3 + 15px - .1px);
}