ul{
    list-style: none;
}
li{
    list-style: none;
}
#box0{
    margin: 0 auto;
    width:100%;
    height:100%;
}
#header{
    width:100%;
    height:50px;
}
#headerlogo{
    margin-left: 0;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 121px;
}
#headerlogoword{
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px,1px,1px,1px) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
#header0{
    margin-left: 70px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 100px;
}
.alogo{
    color: black;
    text-decoration: none;
}
#mslogo{
    font-weight:bold;
}
.header1{
    margin-left: 10px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 100px;
}
.header1>li{
    list-style: none;
    float: left;
}
.dropdown-content>li{
    list-style: none;
}
ul a{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #262626;
    background-color: #f2f2f2;
}
/*超链接样式设置*/
a:link{
    text-decoration: none;
}
a：visited{
      text-decoration: none;
  }
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
/*产品部分下拉菜单实现*/
.button_1:active,.button_1:focus + .dropdown-content{
    display: block;
}
.menu{
    z-index: 20;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    height: 400px;
    margin-top: 1px;
    width: 700px;
    background-color: #f2f2f2;
}
.menu0{
    margin-left: 8%;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    float: left;
    height: 100%;
    width: 18%;
    background-color: #f2f2f2;
}
.title{
    font-weight:bold;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    padding: 0;
    display: none;
    position: absolute;
}
.header1 .dropdown:hover .dropdown-content{
    display: block;
}
/*body1部分图加字*/
#bodypicture{
    margin: 0 auto;
    width: 300px;
    height: 450px;
    background-color: white;
    float: left;
}
#hua{
    z-index: -20;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    float: left;
}
#drawpicture{
    z-index: 30;
    position: relative;
    left: 100px;
    bottom:350px;
    float: left;
}
/*  body2部分*/
#indexbody2{

    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color: white;
    float: left;
}
.body2word1{
    text-align: center;
    font-size: 40px;
}
.body2word2{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 15px;
}
/*body3*/
#body3{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 800px;
    background-color: white;
    float: left;
}
.body3-1{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 20px;
    width:40%;
    height: 800px;
    background-color: #f2f2f2;
    float: left;
}
.body3-1-1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    height: 20%;
    background-color: #f2f2f2;
}
.body3-1-2{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body3-1-3{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 17%;
    background-color: #f2f2f2;
    text-align: center;
}
.body3-1-4{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 21%;
    background-color: #f2f2f2;
    text-align: center;
}
.body3-1-1word{
    font-weight:bold;
    font-size: 40px;
}
.body3-1-2picture{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.body3-1-3word{
    font-weight:bold;
    font-size: 25px;
}
/*body4*/
#body4{
    margin:0;
    width: 100%;
    height: 100px;
    background-color: red;
    text-align: center;
}
/**/
#indexbody4{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
    float: left;
}
.indexbody4box{
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    float: left;
    height: 100%;
    width: 15%;
    background-color: #f2f2f2;
}
.indexbody4boxtitle{
    font-weight:bold;
    font-size: 15px;
    background-color: #f2f2f2;
}
/**/
#indexbody3line{
    margin-top: 150px;
    width: 100%;
    height: 150px;
    background-color: white;
    float: left;
}
#indexbody4line{
    margin-top: 100px;
    margin-bottom: 0;
}
#indexbody4lineword{
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}
#indexbody3lineword{
    float: left;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}
.indexindexbody3lineword{
    float: left;
    text-align: center;
}