ul{
    list-style: none;
}
li{
    list-style: none;
}
#box{
    margin: 0 auto;
    width:100%;
    height:100%;
}
#header{
    width:100%;
    height:50px;
}
#headerlogo{
    margin-left: 0;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 121px;
}
#headerlogoword{
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px,1px,1px,1px) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
#header0{
    margin-left: 70px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 100px;
}
.alogo{
    color: black;
    text-decoration: none;
}
#mslogo{
    font-weight:bold;
}
.header1{
    margin-left: 70px;
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 100px;
}
.header1>li{
    list-style: none;
    float: left;
}
.dropdown-content>li{
    list-style: none;
}
ul a{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #262626;
    background-color: #f2f2f2;
}
/*超链接样式设置*/
a:link{
    text-decoration: none;
}
a：visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
/*产品部分下拉菜单实现*/
.button_1:active,.button_1:focus + .dropdown-content{
    display: block;
}
.menu{
    z-index: 20;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    height: 400px;
    margin-top: 1px;
    width: 700px;
    background-color: #f2f2f2;
}
.menu0{
    margin-left: 8%;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    float: left;
    height: 100%;
    width: 18%;
    background-color: #f2f2f2;
}
.title{
    font-weight:bold;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    padding: 0;
    display: none;
    position: absolute;
}
.header1 .dropdown:hover .dropdown-content{
    display: block;
}
/*header1*/
#header-1{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 70px;
    background-color: #003366;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #33CCFF;
}
#header-1-word{
    font-weight: bold;
    font-size: 20px;
}
/*文字加图部分*/
#body-1{
    height: 400px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}
.body-1-l{
    height: 330px;
    width: 50%;
    margin-top: 70px;
    margin-bottom: 0;
    background-color: white;
    text-align: center;
    float: left;
}
.body-1-r{
    height: 400px;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
#body-1-1word1{
    font-weight: bold;
    font-size: 45px;
}
#body-1-1word2{
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
}
/*图片自适应大小*/
.picturesize{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
/**/
#body-2{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 170px;
    background-color: black;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
#body-2-titlesize{
    margin-top: 10px;
    font-size: 30px;
}
#body-2-1{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 40%;
    background-color: black;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
#body-2-1-color{
    color: white;
}
/*body3*/
.body-3{
    height: 500px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}
.body-3-1{
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}
.body-3-2{
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    text-align: center;
}
.body-3-2-word{
    font-weight: bold;
    font-size: 40px;
}
.body-3-3{
    height: 40%;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: white;
}
.body-3-3-s{
    height: 100%;
    width: 10%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    float: left;
}
.body-3-3-c{
    height: 100%;
    width: 20%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    float: left;
    text-align: center;
}
.boyd-3-3-c-h{
    height: 30%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    text-align: center;
}
.boyd-3-3-c-c{
    height: 70%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}
.body-3-3-word{
    font-weight: bold;
    font-size: 20px;
}
/*尾页*/
#indexbody4{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
    float: left;
}
.indexbody4box{
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    float: left;
    height: 100%;
    width: 15%;
    background-color: #f2f2f2;
}
.indexbody4boxtitle{
    font-weight:bold;
    font-size: 15px;
    background-color: #f2f2f2;
}
/**/
#indexbody3line{
    margin-top: 150px;
    width: 100%;
    height: 150px;
    background-color: white;
    float: left;
}
#indexbody4line{
    margin-top: 100px;
    margin-bottom: 0;
}
#indexbody4lineword{
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}
#indexbody3lineword{
    float: left;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}
.indexindexbody3lineword{
    float: left;
    text-align: center;
}