body {
    
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
*{
    list-style: none;
    font-size: 15px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#bodycolumn{
    box-sizing: border-box;
    color: rgb(0,0,0);
    display: block;
    
}
#headerArea{
    box-sizing: border-box;
    color: rgb(0,0,0);
    display: block;

    text-size-adjust: 100%;
}
.header{
    background-color: white;
    color: black;
    height: auto;
}
.headin1{
    z-index: auto;
    margin-bottom: 2px;
    padding: 0 5%;
    
    font-size: 13px;
    height: 54px;
}
.headin2{
    position: relative;
    max-width: 1600px;
    height: 54px;
}
#mylogo{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 121px;
    height: 22px;
}
.c-image{
    margin-top: -3px;
    max-width: none;
    width: 108px
}
#word1{
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px,1px,1px,1px) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.xbox-logo{
    
    float: left;
    content: "|safasfsafsaf";
    font-size: 24px;
    
   
    top: 7px;
    width: 109px;
    height: 54px;
}
#xbox-logo-a{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-left: 18px;
    margin-top: 1px;
    width: 75px;
    height: 22px;
}
#xbox-logo-image{
    margin-top: -1px;
    width: 75px;
}
#xiala{
    float: left;
    width: 600px;
    height: 54px;
}
#xiala-ul1{
    margin: 0px;
    padding-left: 10px;
}
.menu{

    visibility: visible;
    font-size: 13px !important;
    white-space: nowrap;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    display: inline-block;
}
.headerbut{
    visibility: visible;
list-style: none;
word-break: break-word;
box-sizing: inherit;
font: inherit;
margin: 0;
overflow: visible;
text-transform: none;
-webkit-appearance: button;
cursor: pointer;
padding: 16px 10px 16px 12px;
background: transparent;
text-align: left;
border: 1px solid transparent;
display: inline-block;
margin-top: 1px;
position: relative;
z-index: 11;
margin-right: -10px;
color: #262626;
font-size: 13px;
white-space: nowrap;
}
.headerbut::after{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    transform: rotate(45deg);
    -webkit-transform: rotate(135deg);

}


#menu-ul,#menu-ul2,#menu-ul3,#menu-ul4,#menu-ul5,#menu-ul6{
    
    font-size: 13px !important;

    list-style: none;
    
    max-width: 268px;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px 1px 2px;
    width: 150%;
    top: 100%;
    z-index: 10;   
    display: none;
    background: #f2f2f2;
    border-color: rgba(0,0,0,.05) rgba(0,0,0,.05) #000;
    margin-top: -2px;
    
}
/* #menu-ul li{
    display: list-item;
} */

#menu-ul li:hover{
    background: #d8d8d8;
}
#menu-ul2 li:hover{
    background: #d8d8d8;
}
#menu-ul3 li:hover{
    background: #d8d8d8;
}
#menu-ul4 li:hover{
    background: #d8d8d8;
}
#menu-ul5 li:hover{
    background: #d8d8d8;
}
#menu-ul5 li:hover{
    background: #d8d8d8;
}
#menu-ul6 li:hover{
    background: #d8d8d8;
}
#button1:active + #menu-ul,#button1:focus + #menu-ul{
    display: block;
}
#button2:active + #menu-ul2,#button2:focus + #menu-ul2{
    display: block;
}
#button3:active + #menu-ul3,#button3:focus + #menu-ul3{
    display: block;
}
#button4:active + #menu-ul4,#button4:focus + #menu-ul4{
    display: block;
}
#button5:active + #menu-ul5,#button5:focus + #menu-ul5{
    display: block;
}
#button6:active + #menu-ul6,#button6:focus + #menu-ul6{
    display: block;
}
.menu-ul-a{
font-size: 13px !important;
list-style: none;
word-break: break-word;
box-sizing: inherit;
background-color: transparent;
display: block;
padding-left: 24px;
padding-top: 18px;
padding-bottom: 18px;
text-decoration: none;
position: relative;
z-index: 11;
color: #262626;
}
.menu-ul-but{
    font-size: 13px !important;
    list-style: none;
    word-break: break-word;
    box-sizing: inherit;
    background-color: transparent;
    display: block;
    width: 87.9%;
    border-style: none;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    text-align: left;
    position: relative;
    z-index: 11;
    color: #262626;
}

#menu-ul-but1:after{
    content: '';
    /* display: inline-block; */
    float:right;
    margin-right: 12%;
    margin-top: 2%;
    width: 7px;
    height: 7px;
    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    
}
#menu-ul-but2:after{
    content: '';
    /* display: inline-block; */
    float:right;
    margin-right: 12%;
    margin-top: 2%;
    width: 7px;
    height: 7px;
    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    
}
#menu-ul-but6:after{
    content: '';
    /* display: inline-block; */
    float:right;
    margin-right: 12%;
    margin-top: 2%;
    width: 7px;
    height: 7px;
    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    
}

/* #menu-ul-ul,#menu-ul-ul2,#menu-ul-ul6{
    font-size: 13px !important;
    list-style: none;
    word-break: break-word;
    display: block;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    position: relative;
    z-index: 701;
    color: #262626;

} */

#menu-ul-ul,#menu-ul-ul2,#menu-ul-ul6{
    list-style: none;
    min-width: 64px;
    max-width: 368px;
    padding: 0;
    margin: 0;
    border: 0;
    border-style: solid;
    border-width: 0px 0px 0px;
    width: 256px;
    z-index: 10;
    border-left-width: 0;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    background: #e6e6e6;
    margin-top: -1px;
    height: 100%;
}
#menu-ul-but1:hover+#menu-ul-ul{
    display: block;
}
#menu-ul-but2:hover+#menu-ul-ul2{
    display: block;
    height: 200%;
}
#menu-ul-but6:hover+#menu-ul-ul6{
    display: block;
    height: 145%;
}
#menu-ul-ul:hover{
    display: block;
}
#menu-ul-ul2:hover{
    display: block;
    height: 200%;
}
#menu-ul-ul6:hover{
    display: block;
    height: 145%;
}
#menu-ul-ul li a{
    font-size: 13px !important;
    list-style: none;
    word-break: break-word;
    display: block;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    position: relative;
    z-index: 11;
    color: #262626;

}
#menu-ul-ul2 li a{
    font-size: 13px !important;
    list-style: none;
    word-break: break-word;
    display: block;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    position: relative;
    z-index: 11;
    color: #262626;

}
#menu-ul-ul6 li a{
    font-size: 13px !important;
    list-style: none;
    word-break: break-word;
    display: block;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    position: relative;
    z-index: 11;
    color: #262626;

}
#ms-ull{
    margin-bottom: 0px;
    margin-top: 17px;
    height: 50;
    padding-left: 0px;
}
#ms-header-right{
    float:right;
    display: flex;
    height: 54px;
    width: 460px;
}

#ms-header-right-div1{
    max-width: 117px;
    margin-left: 146px;
}

#ms-header-right div nav{
    margin-right: 5px;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 1px;
}

#ms-button{
    padding-right: 20px;
    margin-right: 0px;
    border: 0;
    height: 50;
    background: transparent;
    text-align: left;
    position: relative;
}

#ms-button:after{
    font-family: "MWF-MDL2";
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    color: black;
    border-top: 1px solid #050505;
    border-right: 1px solid #020202;
    z-index: 10;
    transform: rotate(145deg);
    -webkit-transform: rotate(135deg);
}
#ms-button-menu1{
    display:none;
    background: #f2f2f2;
    width: 1230px;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 15px 0;
    padding-left: 0px;
    position: absolute;
    margin-left: -889.333px;
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) #000;
    margin-top: 22px;
    flex-flow: row wrap;
    z-index: 11;
}
#ms-button:focus{
    background: #f2f2f2;
}
#ms-button:active + #ms-button-menu1,#ms-button:focus + #ms-button-menu1{
    display:block;
    
}


#ms-nav li a:before{
    bottom: 9px;
    width: calc(100% - 16px);
    content: "";
    height: 2px;
    position: absolute;
    display: none;
    background: currentColor;
    margin:auto;
    padding-left:8px;
}
#ms-button :before{
    bottom: 0px;
    width: calc(100% - 16px);
    content: "";
    height: 2px;
    position: absolute;
    display: none;
    background: currentColor;
    margin:auto;
    padding-left:8px;
}
#ms-nav li a:active:before,#ms-nav li a:hover:before,#ms-nav li a:focus:before ,#ms-button:focus :before,#ms-button:hover :before{
    display:inline-block;
}

#ms-menu1-li1{
    display:none;
}
.ms-menu1-li{
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
    width: 195px;
}
.ms-menu1-li button{
    background: transparent !important;
    width: 195px;
    font-weight: 600;
    border: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 30px;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}
button, select {
    text-transform: none;
}
.ms-menu1-li ul{
    margin-top: -1px;
    border: 0 !important;
    position: relative !important;
    left: auto !important;
    right: auto;
    background: transparent !important;
    width: 195px;
}
.ms-menu1-li ul li{
    font-size: 13px !important;
}
.ms-menu1-li ul a{
    color: #262626;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    background: transparent !important;
    width: 195px;
    padding-left: 24px;
    display: block;
    white-space: normal;
    list-style: none;
    text-decoration:none;
}
#super-span{
    float: left;
    margin-top: -3px;
}
#ms-reg{
    padding-top: 20px;
}
.ms-menu1-li ul a:hover,.ms-menu1-li ul a:focus, #ms-menu1-li2 a:hover,#ms-menu1-li2 a:focus{
    text-decoration: underline;
}
#ms-menu1-li2{
    background-color: #e6e6e6;
    margin: 0;
    padding: 1px;
    width: 100%;
    display: inline-block;
    float: left;
}
#ms-menu1-li2:before,#ms-menu1-li2:after{
    content: " ";
    display: table;
}
#ms-menu1-li2 a{
    color: rgba(0,0,0,0.8);
    font-weight: 400;
    line-height: 3px;
    margin: 0 auto;
    max-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    background: transparent !important;
    position: relative;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    white-space: normal;
}
#ms-menu1-li2 a:after{
    font-family: "MWF-MDL2";
    content: "\e76c" !important;
    vertical-align: top;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.ms-menu1-bt:after{
    font-family: "MWF-MDL2";
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}
#search{
    padding-left: 5px;
}
#search:after{ 
    font-family: "MWF-MDL2";
    content: '😳';
    -ms-high-contrast-adjust: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}
#register{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' stroke-width='1.9' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25'/%3E%3Cg transform='matrix(1.1 0 0 1.1 8.8 5.61)'%3E%3Ccircle class='mectrl_stroke' cx='20' cy='16' r='7'/%3E%3Cpath class='mectrl_stroke' d='M30 35h10m-5-5v10M30.833 32.09A11 11 0 009 34'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: none;
    display: block;
    float: left;
    width: 38px;
    height: 30px;
    margin: 8px;
    margin-left: 6px;
    margin-top: -12px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
    padding-bottom:9px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.ms-menu1-bt{
    border: none;
    padding-top: 18px;
    position: relative;
    background: transparent;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right:14px;
    width: auto;
}

#homeimage{
    height: 540px;
    width: auto;
}

#block2{
    height: 105px;
    padding-left: 28%;
    padding-right: 28%;
}

.mid-logo{
    display: inline-block;
    width: 16%;
    height: 100%;
    margin-right: 3%;
}
.block2-div-div{
    width: 100%;
    height: 100%;
}
.block2-img{
    width: 60%;
    height: 60%;
}
.block2-p{
    margin-top: -5px;
    
    color: green;
    width: 60%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 10px;
    height: 30%;
}
h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
#block3,#block3-sec{
    font-size: 15px;
    box-sizing: border-box;
    zoom: 1;
    float: left;
    min-height: 1px;
    width: 100%;
    padding: 6px;
}
#block3-sec ul{
    padding-left: 0px;
}
#block3-li1{

    visibility: visible;
    list-style: none;
    box-sizing: inherit;
    padding: 2px;
    position: relative;
    top: 0px;
    width: 50%;
    float: left;
}
.block3-a{
    width: 10%;
    position: relative;
}
#block3-img1{
    width: 100%;
}
#block3-li1-word{
    text-align: left !important;
    padding: 20px 12px 15px 48px;
    max-width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    bottom: 10%;
    transform: translateX(0px);
    padding-left: 3vw;
    
}
#blockx-li1-word{
    text-align: left !important;
    padding: 20px 12px 15px 48px;
    max-width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    bottom: 10%;
    transform: translateX(0px);
    padding-left: 3vw;
    bottom: 140px;
    text-decoration : none;
}
#blockx-li1-word2{
    text-align: left !important;
    padding: 20px 12px 15px 48px;
    max-width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 2300px;
    bottom: 10%;
    transform: translateX(0px);
    padding-left: 3vw;
    bottom: 140px;
    text-decoration : none;
}

.block3-h2{
text-align: left !important;
box-sizing: inherit;
margin-top: 0;
margin-bottom: 0;
font-weight: 100 !important;
color: #fff !important;
padding: 6px 0 2px;
font-size: 42px;
line-height: 36px;
}
.block3x-h2{
    text-align: left !important;
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100 !important;
    color: rgb(5, 5, 5) !important;
    padding: 6px 0 2px;
    font-size: 45px;
    line-height: 56px;
    text-decoration : none;
}
.c-paragraph-1 {
    padding: 24px 0 4px;
    font-weight: 200;
}
.block3-span{
    max-width: 100%;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:rgb(253, 251, 251);
}
.block3x-span{
    max-width: 100%;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:rgb(5, 5, 5);
}

.block3-span::after{
    content: '';
    display: inline-block;
    border-color: white;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#super-span::after{
    content: '';
    display: inline-block;
    border-color: white;
    width: 6px;
    height: 6px;
    border-top: 1px solid ;
    border-right: 1px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#block3-li2{
    width: 49.5%;
    float: right;
    height: 29.74vw;
    padding-bottom: 0.5%;
}
.block3-li-a-div{
    float: right;
    width: 50%;
    height: 29.74vw;
    
    -webkit-transition-duration:0.5s;
    background: url(res/悟空.jpg) no-repeat top center;
    background-size: auto 100% !important;


}

.block3-li-a-div:hover{
    background-size: auto 120% !important;
    background-position: center center !important;
}
#block3-li2-word{
    
    width: 100%;
    height: 100%;
}
.block3-span2{
    max-width: 100%;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:green;
}
#block3-li2-div{
    padding-top: 25%;
    padding-left: 5%;
}
.block3-span2::after{
    content: '';
    display: inline-block;
    border-color:green;
    width: 8px;
    height: 8px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.block3-h3{
    font-size: 40px;
    line-height: 46px;
    font-weight: 100;
}
#block3-li3{
    float: right;
    width: 49%;
    height: 55.74vw;
}
#block3-img3{
    width: 100%;
    height: 100%;
}
#block3-li3-div{

    text-align: left !important;
    padding: 16px 12px;
    max-width: 100%;
    position: relative;
    left: 0px;
    margin-top: -48%;
    transform: translateX(0px);
    padding-left: 3vw;
}
.block3-big-h2{
    line-height: 56px;
    letter-spacing: -.01em;
    font-weight: 100 !important;
    color: #fff !important;
    padding: 3px 0 !important;
    font-size: 38px;
    margin-top: 8%;
}
.block3-big-h22{
    line-height: 56px;
    letter-spacing: -.01em;
    font-weight: 100 !important;
    color: #fff !important;
    padding: 3px 0 !important;
    font-size: 48px;
    margin-top: 15%;
}
.block3-span3{
    max-width: 100%;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:white;
}
.block3-span3:after{
    content: '';
    display: inline-block;
    border-color:green;
    width: 9px;
    height: 9px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#block3-li4{
    float: left;
    width: 50%;
    height: 30.75vw;
}
.block3-li-4-div{
    float: right;
    width: 50%;
    height:  30.75vw;
    float: left;
    -webkit-transition-duration:0.5s;
    background: url(res/我的世界.jpg) no-repeat top center;
    background-size: auto 100% !important;


}

.block3-li-4-div:hover{
    background-size: auto 120% !important;
    background-position: center center !important;
}
#block3-li4-word{
    float: right;
    width: 49%;
    height: 100%;
    text-align: left;
}
#block3-li4-div{
    width: 100%;
    height: 100%;
}
#block3-li4-div{
    height: 54%;
    text-align: left center;
    padding-top: 45%;
    padding-left: 5%;
    
}

#block3-li5{
    width: 100%;
    float: right;
    height: 41.74vw;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
#block3-img5{
    width: 65%;
    height: 100%;
}

#block3-li5-word{
    float: right;
    width: 34%;
    height: 100%;
    text-align: left;
}
.block3-big5-h2{
    color: black;
    font-size: 46px;
    line-height: 56px;
    font-weight: 100;
    padding-top: 40%;
}
.c-paragraph-5{
    color: black;
    padding-top: 5%;
    font-size: 20px;
    line-height: 25px;
}
.block3-span5{
    padding-top: 3%;
    margin-top: 3%;
    color: green;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}
.block3-span5::after{
    content: '';
    display: inline-block;
    border-color:green;
    width: 6px;
    height: 6px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    padding-bottom: 1%;
}
.block3-li-7-div{
    float: right;
    width: 50%;
    height: 29.74vw;
    
    -webkit-transition-duration:0.5s;
    background: url(res/帝国.jpg) no-repeat top center;
    background-size: auto 100% !important;


}
.block3-li-7-div:hover{
    background-size: auto 120% !important;
    background-position: center center !important;
}
.block3-li-8-div{
    float: right;
    width: 50%;
    height:  30.75vw;
    float: left;
    -webkit-transition-duration:0.5s;
    background: url(res/科罗拉多.jpg) no-repeat top center;
    background-size: auto 100% !important;


}

.block3-li-8-div:hover{
    background-size: auto 120% !important;
    background-position: center center !important;
}
.block3-span2{
    max-width: 100%;
    display: inline-block;
    width: 64%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:white;
}
.block3-span2::after{
    content: '';
    display: inline-block;
    border-color: white;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.block3-span22{
    max-width: 100%;
    display: inline-block;
    width: 64%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:green;
}
.block3-span22::after{
    content: '';
    display: inline-block;
    border-color:green;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#block4{
    float: left;
    background-color: #000;
    padding: 42px 0;
    color: #fff;
    width: 100%;
    height: 165px;
}
.block3-div{
    padding-left: 7%;
    padding-right: 7%;
    width: 85%;
}
.block4-p{
    height: 18%;
    width: 100%;
    padding-bottom: 1%;
    font-size: 13px;
}
#bodyfooter{
    float: left;
    width: 100%;
}
#ft1{
    height: 190px;
}
#ft1-div1{
    padding-top: 3%;
    padding-bottom: 0px;
    height: 100%;
    background-color: rgb(238, 237, 237);
}
#ft1-div1-ul{
    width: 17%;
    float: left;
    padding-left: 5%;
    height: 90%;
}
#ft1-div2{
    width: 30%;
    float: left;
    height: 100%;
}
.ft1-div2-ul{
    padding-left: 0px;
    height: 50%;
}
.ft1-div1-li{
    height: 15%;
    padding-bottom: 4%;
    font-size: 12px;
    line-height: 22px;
    font-weight: lighter;
}
.ft1-div1-li a{
    font-size: 12px;
    line-height: 22px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}
.ft1-div2-div{
    padding-bottom: 3%;
    font-weight: lighter;
}
.ft1-div2-ul-li{
    margin-bottom: 3%;
    font-weight: lighter;
}
.ft1-div2-ul-li a{
    font-weight: lighter;
    text-decoration: none;
    color: black;
}
#ft2{
    margin-top: 40px;
    background-color: rgb(238, 237, 237);
    height: 50px;
}
.ft2-ul{
    float: left;
    width: 80%;
    padding-left: 40%;
}
.ft2-ul li{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
.ft2-ul li a{
    font-size: 10px;
    font-weight: lighter;
    text-decoration: none;
    font-style: black;
    color: black;
}
.ft2-div1{
    float: left;
    margin-left: -47%;
}
.ft2-div1::before{
    font-size: 20px;
    line-height: 24px;
    margin-right: 5px;
    vertical-align: middle;
    
}
.ft2-div1 a{
    font-size: 13px;
    font-weight: lighter;
    text-decoration: none;
    font-style: black;
    color: black;
}
#language-span{
    color: black;
}
.ms-menu1-li ul{
    padding-left: 0px;
}
.block3-span12{
    max-width: 100%;
    display: inline-block;
    width: 34%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    color:green;
}
.block3-span12::after{
    content: '';
    display: inline-block;
    border-color:green;
    width: 8px;
    height: 8px;
    border-top: 2px solid ;
    border-right: 2px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/* asdasdfpaijgfarg

sadg
af
g

afg

fa
g
fa
g
af
g
a
fg
a
fg
a
f
*/
.box {
    width: 1520px;
    height: 530px;
    border: 1px solid #ccc;
    z-index:0;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.innerBox{
    width: 1520px;
    height: 530px;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}
.innerBox img{
    width: 1520px;
    height: 530px;
    vertical-align: top
}
.tu {
    width: 5000px;
    position:absolute;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 0px;
    z-index:0;
    left:0;
    top: 0;
}

.innerBox li{
    float: left;
    z-index: -2;
}
ol.NumberBar {
    position: absolute;
    height: 20px;
    right: 720px;
    bottom: 30px;
    text-align: center;
    padding: 5px;
}
ol.NumberBar li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;

}
ol.NumberBar .NumberButtonCurrent{
    background-color: darkgray;
    border: black;
    border-radius: 15px;
}
#LRbutton{
    display: none;
    
}
#LRbutton span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: rgb(252, 247, 247);
    opacity: 0.5;
    border: 3px solid rgb(194, 176, 176);
    border-radius: 30px;
}
#LRbutton #rightButton {
    right: 5px;
    left: auto;
}
#rightButton+#leftButton{
    background-color: #050505;
}

